.topnavFloat {
    display: flex;
    background-color: #FAE6B1;
    overflow: hidden;

  }
  .logoFloat
  {
    width: 10%;
    max-width: 5%;
    padding: 20px;
  
  }
  .scrollcontainerFloat{
   
  overflow: hidden;
  padding: 50px;
  margin-left: 300px;
  }
  .scrolltextFloat{
    font-size: 300%;
    -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 8s linear infinite;
  -webkit-animation: my-animation 8s linear infinite;
  animation: my-animation 8s linear infinite;
  }
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}