.mapboxgl-control-container{
    display: none;
}

.marker{
    height: 30px;
    width: auto;
}
.btnHave{
    margin-top: 10px;
    width: 16vw;
    height: 8vh;
    font-size: 3vh;
}
.marker{
z-index: 10;
cursor: pointer;
/* background-color: red; */
}
.btnClose{
    position: absolute;
    top: 2vh;
    left: 45vw;
    border-radius: 50%;
}